html {
  scroll-behavior: smooth;
}

.p-timeline-event:nth-child(even) .p-card {
  @apply ml-auto;
}

#timeline .p-card .p-card-title {
  @apply text-purple-500;
}

.prize {
  @apply relative p-16 flex flex-col;
}

.prize::before {
  content: '';
  z-index: -1;
  @apply absolute top-0 left-0 w-full h-full bg-yellow-400 border-2 border-white;
}

.prize.animate::before {
  animation: fill 2s ease-out forwards;
}

.section {
  @apply w-full relative px-16 py-24;
}

.section__title {
  @apply my-10 font-semibold text-4xl text-center text-blue-500;
}

.section__content {
  @apply w-full py-4 flex flex-col justify-center;
}

.judge-card {
  @apply cursor-default relative w-96 p-8 bg-white border border-blue-50 rounded shadow flex flex-col items-center gap-y-4 transition-all duration-300;
}

.judge-card:hover {
  @apply shadow-lg;
}

@keyframes fill {
  from {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}
